.footer {
    display: flex;
    flex-direction: column;
    background-color: #0c71b4;
    color: #fff;
    padding: 30px 180px 40px;
}

.footer--heading {
    border-bottom: 1px solid #008fd0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer--heading-title {
    font-size: 18px;
}
.footer-icons--center {
    margin-bottom: 5px;
}
.footer--icons-title {
    font-size: 16px;
    margin-right: 10px;
}

.footer--icons-wrapper {
    display: flex;
    align-items: center;
}

.footer--social-icon {
    transition: all .3s ease-in-out;
}
.footer--social-icon:hover {
    transform: scale(1.2);
}

.footer--links {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-links--location {
    padding-right: 85px;
    font-size: 12px;
    line-height: 1.5;
}

.footer-links--table {
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 650px;
}
.footer-link--table-item {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 14px;
    width: 30%;
}
.footer-link--table-item > a {
    color: #fff;
    text-decoration: none;
}
.footer-link--table-item > a:hover {
    text-decoration: underline;
}

.footer--copyrights {
    font-size: 12px;
}

.footer--copyrights-text-block {
    margin-bottom: 20px;
}