.hero-header {
    display: flex;
    width: 100%;
    background-color: #e5f4fb;
    color: #282d5c;
    flex-direction: column;
}

.hero-header--breadcrumb-trail {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-header--breadcrumb-trail-item {
    display: flex;
    align-items: center;
}

.breadcrumb-trail--chevron-icon {
    font-size: 11px;
    padding: 0px 5px;
}

.hero-header--breadcrumb-trail-sign-in {
    padding-left: 7px;
    padding-right: 7px;
    color: #282d5c;
}

#sign-in-icon {
    height: 22px;
}

.hero-header--main {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-header--main-text {
    width: 52%;
}

.hero-header--product-title {
    font-size: 26px;
    color: #0c71b4;
    margin-bottom: 5px;
}

.hero-header--main-title {
    font-size: 37px;
    margin-bottom: 20px;
}

.hero-header--application-stat {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.application-stat--item {
    display: flex;
    align-items: center;
    color: #008fd0;
    font-size: 18px;
    margin-bottom: 10px;
}

.application-stat--item-checkmark {
    height: 30px;
    margin-right: 10px;
}

.hero-header--main-image {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 140px;
    background-color: #282d5c;
    border-radius: 10px;
}

.hero-header--main-image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-header--representative {
    color: #fff;
}

#hero-header-image {
    height: 200px;
    margin-top: 20px;
}

.hero-header--main-sidenote {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 16px;
}

.hero-header--main-check-button {
    background-color: #5e9b00;
    width: 280px;
    height: 65px;
    font-size: 25px;
    color: #fff;
    text-align: left;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:16px;
}