@import url("../assets/fonts/mainFont.css");

header {
  height: 65px;
  width: 100%;
  position: sticky;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  font-size: 16px;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

.side-margins {
  margin-left: 120px;
  margin-right: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.remove-text-decoration {
  text-decoration: none;
  color: #282d5c;
}

h1, h2 {
  margin-top: 0px;
}

.font--normal {
  font-family: "open_sansregular",sans-serif;
}
.font--bold {
  font-family: "open_sansbold",sans-serif;
}
.font--semi-bold {
  font-family: "open_sansregular",sans-serif;
  font-weight: 700;
}
.font--extra-bold {
  font-family: "open_sansextrabold",sans-serif;
}
.font--light {
  font-family: "open_sansregular",sans-serif;
  font-weight: 100;
}