.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0px 20px;
}

.navigation-container--logo {
  margin-right: 20px;
  display: flex;
}
.navigation-container--logo-image {
  width: 100%;
  height: 42px;
}

.navigation-strip {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 760px;
}

.navigation-strip--item {
  display: flex;
  align-items: center;
}
.navigation-strip--item-link {
  font-weight: bold;
}
.navigation-strip--item-link:hover {
  color: #008fd0;
}
.navigation-strip--item-chevron {
  width: 25px;
  margin-left: 5px;
}
